<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bio.css">
    <title>SOBRE MIM</title>


</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho__menu">
            <a class="cabecalho__menu__link" href="portifolio.html">INÍCIO</a>
            <a class="cabecalho__menu__link" href="bio.html" >SOBRE NÓS</a>
            
        </nav>
    </header>
    <main>
        <p class="cabecalho__menu__bio">
            A MIND GREATT nasceu com o propósito de redefinir a moda urbana. Inspirada pelas ruas e movida pela cultura jovem, nossa marca rapidamente conquistou espaço e se tornou sinônimo de atitude e autenticidade. Desde o começo, focamos em roupas que capturam a essência das cidades e traduzem o estilo de vida dinâmico e expressivo dos nossos clientes.<br><br>
            Combinando design inovador e qualidade excepcional, a MIND GREATT rapidamente se destacou, alcançando o ranking das maiores empresas globais no segmento. Mais do que uma marca, somos uma comunidade que valoriza a autoexpressão, a liberdade e a diversidade. Hoje, estamos presentes em diversas capitais do mundo, trazendo novas coleções e colaborações exclusivas que conectam moda, arte e cultura urbana.<br><br>
            Cada peça da MIND GREATT é feita para quem busca se destacar e transmitir sua identidade sem limites. Junte-se a nós e faça parte do movimento que está moldando o futuro do streetwear.    
        </p>

        <img class="foto_portifolio" src="assets/mind.png" alt="Foto das blusas">
    </main>

    <footer class="rodape">FEITO POR MYCHEL DATI</footer>
    
</body>
</html>