<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIND OFICIAL</title>
    <link rel="stylesheet" href="./styles/portifolio.css">

</head>

<body>
    <header class="cabecalho">
        <nav class="cabecalho__menu">
            <a class="cabecalho__menu__link" href="portifolio.html">INÍCIO</a>
            <a class="cabecalho__menu__link" href="bio.html" >SOBRE NÓS</a>
        </nav>
    </header>

<!-- <header class="cabecalho">
    <div class="cabecalho__nome">
        <a class="inicio" href="portifolio.html">INÍCIO</a>
        <a class="sobre__nos" href="bio.html">SOBRE NÓS</a>
    </div>
</header> -->

<main class="principal">
    <section class="principal__conteudo">
        <header class="principal__conteudo__frase"><strong class="frase__efeito">ALÉM DO IMAGINÁRIO...</strong></header>
        <h1 class="principal__conteudo__titulo">MIND GREATT</h1>
    
        <h3 class="principal__conteudo__sub-titulo"><strong class="sub-titulo">PRA QUEM <br>É CHATO <br>COM ROUPA! </strong></h3>
        <p class="principal__conteudo__descricao"><strong class="descricao"> MAIOR LOJA <br>DE IMPORTADOS <br>DA AMÉRICA LATINA</strong></p>
        <h2  class="principal__conteudo__link__texto">Acesse nossas redes</h2>

    

       <div class="principal__conteudo__link">
            <a class="principal__conteudo__link__link" href="https://steamrip.com/"> <img class="img__linkedin" src="./assets/logo_insta.png" alt="Foto das blusas"> INSTAGRAM</a>
            <a class="principal__conteudo__link__link" href="https://web.whatsapp.com/"> <img class="img__linkedin" src="./assets/logo_wpp.png" alt="Foto das blusas"> WHATSAPP</a>
            <a class="principal__conteudo__link__link" href="https://www.linkedin.com/"><img class="img__linkedin" src="./assets/logo_linkedin.png" alt="Foto das blusas">LINKEDIN</a>
       </div>
</section>
    <img class="foto_portifolio" src="./assets/mind.png" alt="Foto das blusas">

</main>
<footer class="rodape">POR MYCHEL DATI</footer>

</body>
</html>
                    